@font-face{
  font-family: keepCalm;
  src: url("rsc/font/keepCalm.ttf")
}
html {
  height: 120%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #071027 -100%, #000000 100%);
  overflow: hidden;
}
body {
  font-family: 'keepCalm', sans-serif;
  color: #abc;
}
h1{
  font-size: 2.5vh;
  margin-bottom: 1vh;
}
h2{
  font-size: 2vh;
  margin-top: 0;
  margin-bottom: 1vh;
}
p{
  font-size: 2vh;
}
a {
  text-decoration: none;
  color: #abc;
}
#titleName {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-top: -6vh;
  padding-left: 1vh;
  font-size: 6vh;
  letter-spacing: 1vh;
  text-align: center;
}
#nav{
  opacity: 0;
}
.navLinks{
  position: absolute;
  list-style: none;
  bottom : 0;
  left: 0;
  right: 0;
  padding: 0;
  text-align: center; 
}
.navLinks li {
  display: inline-block;
  padding-left: 6vh;
  padding-right: 6vh;
  letter-spacing: 1vh;
}
/*----------------------------*/
/*---  Menu Content Loader ---*/
/*----------------------------*/
#content{
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 120%;
  font-size: 1.5vh;
  overflow: hidden;
  text-align:center;
}
.contentWindow{
  position: absolute;
  width: 100%;
  height: 100%;
}
#closeButton{
  visibility: hidden;
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 7vh;
}
#resumeLeft{
  position: absolute;
  top: 15%;
  left: 5%;
  width: 50% !important;
  height: 100% !important;
  font-size: 3vh;
}
#resumeLeft h1{
  font-size: 3.5vh;
}
#resumeRight{
  position: absolute;
  top: 15%;
  right: -1vh;
  width: 50% !important;
  height: 100% !important;
  font-size: 3vh;
}
#resumeRight h1{
  font-size: 3.5vh;
}
#bioLeftTop{
  position: absolute;
  top: 5%;
  left: 0;
  width: 50% !important;
  height: 40% !important;
  padding-top: 4vh;
}
#bioLeftBottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50% !important;
  height: 60% !important;
}
#bioRight{
  position: absolute;
  top:3%;
  right: 0;
  width: 50% !important;
  height: 100% !important;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
img{
  position:relative;
  width:45%;
  max-width: 35vh;
  min-width: 20vh;
}
embed{
  height: 4vh;
  fill: #abc;
}
#contactLeft{
  position: absolute;
  top: 15%;
  left: -1vh;
  width: 50% !important;
  height: 100% !important;
  font-size: 6vh;
}
#contactLeft span{
  position: relative;
  top: -2vh !important;
  font-size: 2vh;
}
#contactRight{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 50% !important;
  height: 96% !important;
  overflow: hidden;
}
.contactForm{
  position: absolute;
  top: 10%;
  right: 10%;
  width: 80%;
  height: 100%;
  opacity: 0.5;
} 
/*----------------------------*/
/*--- navButton  animation ---*/
/*----------------------------*/
.navButton {
  position: relative;
  top: 50%;
  height: 5vh;
  width: 20vh;
	margin: 0 auto;
  transform: translateY(-50%);
}
.navBox{
  left: 0;
  top: 0;
  height: 5vh;
  width: 20vh;
}
.navButtonShape {
  position: relative;
  height: 5vh;
  width: 20vh;
  fill: transparent;
  stroke: #abc;
  stroke-width: 0.8vh;
  stroke-dasharray: 10vh 40vh;
  stroke-dashoffset: -30vh;
}
.navTitleText {
  position: relative;
  top: -4.5vh;
  left: +0.4vh;
  line-height: 3.2vh;
  font-size: 3vh;
  letter-spacing: 0.8vh;
}
.navButton:hover .navButtonShape {
  -webkit-animation: 0.3s draw linear forwards;
  animation: 0.3s draw linear forwards;
}
@keyframes draw {
  0% {
    stroke-width: 0.8vh;
    stroke-dasharray: 10vh 40vh;
    stroke-dashoffset: -30vh;
  }
  100% {
    stroke-width: 0.2vh;
    stroke-dasharray: 54vh;
    stroke-dashoffset: 0;
  }
}
/*----------------------------*/
/*---    Fade Animation    ---*/
/*----------------------------*/
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
/*----------------------------*/
/*--- BACKGROUND PARTICLES ---*/
/*----------------------------*/
#particle1 {
  width: 0.1vh;
  height: 0.1vh;
  background: transparent;
  box-shadow: 84vmax 188vmax #abc , 2vmax 65vmax #abc , 138vmax 161vmax #abc , 88vmax 80vmax #abc , 120vmax 75vmax #abc , 139vmax 191vmax #abc , 51vmax 142vmax #abc , 166vmax 39vmax #abc , 92vmax 76vmax #abc , 65vmax 154vmax #abc , 87vmax 165vmax #abc , 167vmax 2vmax #abc , 173vmax 121vmax #abc , 66vmax 111vmax #abc , 93vmax 37vmax #abc , 44vmax 98vmax #abc , 137vmax 189vmax #abc , 9vmax 152vmax #abc , 97vmax 136vmax #abc , 119vmax 131vmax #abc , 167vmax 20vmax #abc , 6vmax 14vmax #abc , 79vmax 44vmax #abc , 30vmax 103vmax #abc , 169vmax 104vmax #abc , 171vmax 174vmax #abc , 41vmax 59vmax #abc , 77vmax 93vmax #abc , 1vmax 186vmax #abc , 55vmax 27vmax #abc , 173vmax 31vmax #abc , 20vmax 84vmax #abc , 11vmax 106vmax #abc , 59vmax 103vmax #abc , 62vmax 93vmax #abc , 69vmax 66vmax #abc , 189vmax 36vmax #abc , 8vmax 97vmax #abc , 111vmax 136vmax #abc , 21vmax 183vmax #abc , 31vmax 92vmax #abc , 21vmax 42vmax #abc , 94vmax 44vmax #abc , 4vmax 132vmax #abc , 75vmax 49vmax #abc , 111vmax 163vmax #abc , 5vmax 50vmax #abc , 129vmax 195vmax #abc , 78vmax 178vmax #abc , 153vmax 71vmax #abc , 168vmax 123vmax #abc , 46vmax 93vmax #abc , 125vmax 15vmax #abc , 140vmax 25vmax #abc , 50vmax 66vmax #abc , 190vmax 48vmax #abc , 82vmax 79vmax #abc , 38vmax 100vmax #abc , 115vmax 17vmax #abc , 143vmax 141vmax #abc , 161vmax 107vmax #abc , 25vmax 41vmax #abc , 150vmax 25vmax #abc , 199vmax 53vmax #abc , 98vmax 33vmax #abc , 45vmax 87vmax #abc , 139vmax 58vmax #abc , 63vmax 107vmax #abc , 2vmax 106vmax #abc , 184vmax 59vmax #abc , 81vmax 122vmax #abc , 167vmax 33vmax #abc , 192vmax 122vmax #abc , 100vmax 157vmax #abc , 95vmax 118vmax #abc , 16vmax 188vmax #abc , 121vmax 101vmax #abc , 56vmax 132vmax #abc , 148vmax 77vmax #abc , 55vmax 172vmax #abc , 3vmax 96vmax #abc , 162vmax 59vmax #abc , 49vmax 31vmax #abc , 186vmax 108vmax #abc , 133vmax 72vmax #abc , 1vmax 43vmax #abc , 97vmax 150vmax #abc , 70vmax 44vmax #abc , 28vmax 108vmax #abc , 92vmax 28vmax #abc , 139vmax 26vmax #abc , 168vmax 50vmax #abc , 66vmax 31vmax #abc , 22vmax 14vmax #abc , 101vmax 9vmax #abc , 180vmax 67vmax #abc , 46vmax 36vmax #abc , 144vmax 106vmax #abc , 186vmax 165vmax #abc , 23vmax 172vmax #abc , 51vmax 150vmax #abc , 14vmax 51vmax #abc , 180vmax 59vmax #abc , 157vmax 43vmax #abc , 99vmax 170vmax #abc , 1vmax 78vmax #abc , 111vmax 51vmax #abc , 51vmax 187vmax #abc , 183vmax 143vmax #abc , 168vmax 78vmax #abc , 196vmax 183vmax #abc , 99vmax 9vmax #abc , 106vmax 175vmax #abc , 82vmax 108vmax #abc , 88vmax 53vmax #abc , 146vmax 112vmax #abc , 111vmax 153vmax #abc , 3vmax 52vmax #abc , 145vmax 95vmax #abc , 125vmax 135vmax #abc , 69vmax 101vmax #abc , 16vmax 143vmax #abc , 146vmax 30vmax #abc , 78vmax 181vmax #abc , 116vmax 93vmax #abc , 46vmax 124vmax #abc , 149vmax 26vmax #abc , 76vmax 114vmax #abc , 59vmax 182vmax #abc , 99vmax 29vmax #abc , 15vmax 30vmax #abc , 164vmax 134vmax #abc , 38vmax 196vmax #abc , 37vmax 25vmax #abc , 141vmax 43vmax #abc , 92vmax 17vmax #abc , 113vmax 149vmax #abc , 152vmax 145vmax #abc , 63vmax 60vmax #abc , 106vmax 61vmax #abc , 27vmax 149vmax #abc , 122vmax 123vmax #abc , 62vmax 129vmax #abc , 196vmax 29vmax #abc , 128vmax 78vmax #abc , 94vmax 59vmax #abc , 163vmax 99vmax #abc , 31vmax 33vmax #abc , 67vmax 60vmax #abc , 94vmax 9vmax #abc , 63vmax 26vmax #abc , 117vmax 139vmax #abc , 150vmax 63vmax #abc , 124vmax 176vmax #abc , 55vmax 45vmax #abc , 163vmax 86vmax #abc , 170vmax 132vmax #abc , 152vmax 49vmax #abc , 117vmax 177vmax #abc , 186vmax 161vmax #abc , 2vmax 123vmax #abc , 99vmax 165vmax #abc , 102vmax 151vmax #abc , 173vmax 3vmax #abc , 110vmax 95vmax #abc , 69vmax 168vmax #abc , 158vmax 98vmax #abc , 168vmax 135vmax #abc , 96vmax 141vmax #abc , 152vmax 35vmax #abc , 13vmax 87vmax #abc , 172vmax 123vmax #abc , 44vmax 5vmax #abc , 99vmax 39vmax #abc , 188vmax 52vmax #abc , 92vmax 58vmax #abc , 66vmax 138vmax #abc , 24vmax 141vmax #abc , 158vmax 85vmax #abc , 84vmax 66vmax #abc , 42vmax 190vmax #abc , 15vmax 109vmax #abc , 70vmax 128vmax #abc , 18vmax 172vmax #abc , 178vmax 174vmax #abc , 37vmax 194vmax #abc , 1vmax 193vmax #abc , 157vmax 109vmax #abc , 58vmax 160vmax #abc , 155vmax 159vmax #abc , 114vmax 169vmax #abc , 94vmax 27vmax #abc , 152vmax 167vmax #abc , 7vmax 30vmax #abc , 123vmax 111vmax #abc , 14vmax 34vmax #abc , 85vmax 160vmax #abc , 199vmax 86vmax #abc , 180vmax 68vmax #abc , 13vmax 33vmax #abc , 194vmax 62vmax #abc , 65vmax 76vmax #abc , 126vmax 128vmax #abc , 172vmax 172vmax #abc , 64vmax 160vmax #abc , 23vmax 172vmax #abc , 194vmax 33vmax #abc , 66vmax 50vmax #abc , 73vmax 5vmax #abc , 36vmax 31vmax #abc , 142vmax 20vmax #abc , 77vmax 197vmax #abc , 148vmax 161vmax #abc , 160vmax 113vmax #abc , 6vmax 13vmax #abc , 176vmax 177vmax #abc , 39vmax 16vmax #abc , 33vmax 8vmax #abc , 20vmax 5vmax #abc , 92vmax 97vmax #abc , 139vmax 132vmax #abc , 109vmax 193vmax #abc , 97vmax 198vmax #abc , 28vmax 173vmax #abc , 168vmax 115vmax #abc , 98vmax 160vmax #abc , 22vmax 171vmax #abc , 91vmax 129vmax #abc , 4vmax 8vmax #abc , 108vmax 161vmax #abc , 21vmax 71vmax #abc , 175vmax 8vmax #abc , 185vmax 142vmax #abc , 49vmax 60vmax #abc , 86vmax 168vmax #abc , 189vmax 152vmax #abc , 58vmax 147vmax #abc , 72vmax 127vmax #abc , 48vmax 32vmax #abc , 47vmax 85vmax #abc , 196vmax 96vmax #abc , 26vmax 1vmax #abc , 198vmax 193vmax #abc , 42vmax 3vmax #abc , 32vmax 181vmax #abc , 142vmax 118vmax #abc , 59vmax 133vmax #abc , 80vmax 185vmax #abc , 41vmax 190vmax #abc , 22vmax 66vmax #abc , 187vmax 155vmax #abc , 120vmax 118vmax #abc , 140vmax 153vmax #abc , 188vmax 14vmax #abc , 59vmax 78vmax #abc , 73vmax 188vmax #abc , 162vmax 30vmax #abc , 171vmax 103vmax #abc , 92vmax 19vmax #abc , 193vmax 186vmax #abc , 59vmax 193vmax #abc , 174vmax 122vmax #abc , 176vmax 100vmax #abc , 112vmax 158vmax #abc , 109vmax 2vmax #abc , 153vmax 153vmax #abc , 71vmax 127vmax #abc , 183vmax 126vmax #abc , 19vmax 78vmax #abc , 162vmax 34vmax #abc , 129vmax 19vmax #abc , 182vmax 61vmax #abc , 58vmax 62vmax #abc , 30vmax 169vmax #abc , 139vmax 148vmax #abc , 77vmax 106vmax #abc , 88vmax 142vmax #abc , 136vmax 61vmax #abc , 4vmax 152vmax #abc , 194vmax 49vmax #abc , 158vmax 93vmax #abc , 104vmax 190vmax #abc , 75vmax 175vmax #abc , 161vmax 72vmax #abc , 67vmax 3vmax #abc , 138vmax 152vmax #abc , 181vmax 149vmax #abc , 61vmax 53vmax #abc , 16vmax 96vmax #abc , 51vmax 197vmax #abc , 132vmax 29vmax #abc , 46vmax 96vmax #abc , 30vmax 196vmax #abc , 153vmax 110vmax #abc , 176vmax 176vmax #abc , 170vmax 26vmax #abc , 178vmax 85vmax #abc , 66vmax 39vmax #abc , 39vmax 68vmax #abc , 82vmax 82vmax #abc , 4vmax 12vmax #abc , 106vmax 126vmax #abc , 144vmax 121vmax #abc , 90vmax 62vmax #abc , 184vmax 21vmax #abc , 167vmax 69vmax #abc , 128vmax 102vmax #abc , 116vmax 80vmax #abc , 124vmax 15vmax #abc , 123vmax 92vmax #abc , 97vmax 168vmax #abc , 193vmax 141vmax #abc , 117vmax 83vmax #abc , 114vmax 39vmax #abc , 85vmax 198vmax #abc , 15vmax 86vmax #abc , 154vmax 1vmax #abc , 197vmax 179vmax #abc , 97vmax 151vmax #abc , 137vmax 132vmax #abc , 191vmax 110vmax #abc , 94vmax 70vmax #abc , 98vmax 76vmax #abc , 131vmax 85vmax #abc , 112vmax 129vmax #abc , 109vmax 21vmax #abc , 96vmax 15vmax #abc , 24vmax 58vmax #abc , 176vmax 110vmax #abc , 42vmax 162vmax #abc , 164vmax 117vmax #abc , 64vmax 29vmax #abc , 26vmax 47vmax #abc , 58vmax 14vmax #abc , 39vmax 174vmax #abc , 99vmax 51vmax #abc , 162vmax 88vmax #abc , 192vmax 54vmax #abc , 19vmax 99vmax #abc , 177vmax 188vmax #abc , 159vmax 93vmax #abc , 152vmax 130vmax #abc , 182vmax 124vmax #abc , 44vmax 196vmax #abc , 92vmax 18vmax #abc;
  animation: animParticle 50s linear infinite;
}
#particle1:after {
  position: absolute;
  top: -200vh;
  width: 0.1vh;
  height: 0.1vh;
  background: transparent;
  content: " ";
  box-shadow: 84vmax 188vmax #abc , 2vmax 65vmax #abc , 138vmax 161vmax #abc , 88vmax 80vmax #abc , 120vmax 75vmax #abc , 139vmax 191vmax #abc , 51vmax 142vmax #abc , 166vmax 39vmax #abc , 92vmax 76vmax #abc , 65vmax 154vmax #abc , 87vmax 165vmax #abc , 167vmax 2vmax #abc , 173vmax 121vmax #abc , 66vmax 111vmax #abc , 93vmax 37vmax #abc , 44vmax 98vmax #abc , 137vmax 189vmax #abc , 9vmax 152vmax #abc , 97vmax 136vmax #abc , 119vmax 131vmax #abc , 167vmax 20vmax #abc , 6vmax 14vmax #abc , 79vmax 44vmax #abc , 30vmax 103vmax #abc , 169vmax 104vmax #abc , 171vmax 174vmax #abc , 41vmax 59vmax #abc , 77vmax 93vmax #abc , 1vmax 186vmax #abc , 55vmax 27vmax #abc , 173vmax 31vmax #abc , 20vmax 84vmax #abc , 11vmax 106vmax #abc , 59vmax 103vmax #abc , 62vmax 93vmax #abc , 69vmax 66vmax #abc , 189vmax 36vmax #abc , 8vmax 97vmax #abc , 111vmax 136vmax #abc , 21vmax 183vmax #abc , 31vmax 92vmax #abc , 21vmax 42vmax #abc , 94vmax 44vmax #abc , 4vmax 132vmax #abc , 75vmax 49vmax #abc , 111vmax 163vmax #abc , 5vmax 50vmax #abc , 129vmax 195vmax #abc , 78vmax 178vmax #abc , 153vmax 71vmax #abc , 168vmax 123vmax #abc , 46vmax 93vmax #abc , 125vmax 15vmax #abc , 140vmax 25vmax #abc , 50vmax 66vmax #abc , 190vmax 48vmax #abc , 82vmax 79vmax #abc , 38vmax 100vmax #abc , 115vmax 17vmax #abc , 143vmax 141vmax #abc , 161vmax 107vmax #abc , 25vmax 41vmax #abc , 150vmax 25vmax #abc , 199vmax 53vmax #abc , 98vmax 33vmax #abc , 45vmax 87vmax #abc , 139vmax 58vmax #abc , 63vmax 107vmax #abc , 2vmax 106vmax #abc , 184vmax 59vmax #abc , 81vmax 122vmax #abc , 167vmax 33vmax #abc , 192vmax 122vmax #abc , 100vmax 157vmax #abc , 95vmax 118vmax #abc , 16vmax 188vmax #abc , 121vmax 101vmax #abc , 56vmax 132vmax #abc , 148vmax 77vmax #abc , 55vmax 172vmax #abc , 3vmax 96vmax #abc , 162vmax 59vmax #abc , 49vmax 31vmax #abc , 186vmax 108vmax #abc , 133vmax 72vmax #abc , 1vmax 43vmax #abc , 97vmax 150vmax #abc , 70vmax 44vmax #abc , 28vmax 108vmax #abc , 92vmax 28vmax #abc , 139vmax 26vmax #abc , 168vmax 50vmax #abc , 66vmax 31vmax #abc , 22vmax 14vmax #abc , 101vmax 9vmax #abc , 180vmax 67vmax #abc , 46vmax 36vmax #abc , 144vmax 106vmax #abc , 186vmax 165vmax #abc , 23vmax 172vmax #abc , 51vmax 150vmax #abc , 14vmax 51vmax #abc , 180vmax 59vmax #abc , 157vmax 43vmax #abc , 99vmax 170vmax #abc , 1vmax 78vmax #abc , 111vmax 51vmax #abc , 51vmax 187vmax #abc , 183vmax 143vmax #abc , 168vmax 78vmax #abc , 196vmax 183vmax #abc , 99vmax 9vmax #abc , 106vmax 175vmax #abc , 82vmax 108vmax #abc , 88vmax 53vmax #abc , 146vmax 112vmax #abc , 111vmax 153vmax #abc , 3vmax 52vmax #abc , 145vmax 95vmax #abc , 125vmax 135vmax #abc , 69vmax 101vmax #abc , 16vmax 143vmax #abc , 146vmax 30vmax #abc , 78vmax 181vmax #abc , 116vmax 93vmax #abc , 46vmax 124vmax #abc , 149vmax 26vmax #abc , 76vmax 114vmax #abc , 59vmax 182vmax #abc , 99vmax 29vmax #abc , 15vmax 30vmax #abc , 164vmax 134vmax #abc , 38vmax 196vmax #abc , 37vmax 25vmax #abc , 141vmax 43vmax #abc , 92vmax 17vmax #abc , 113vmax 149vmax #abc , 152vmax 145vmax #abc , 63vmax 60vmax #abc , 106vmax 61vmax #abc , 27vmax 149vmax #abc , 122vmax 123vmax #abc , 62vmax 129vmax #abc , 196vmax 29vmax #abc , 128vmax 78vmax #abc , 94vmax 59vmax #abc , 163vmax 99vmax #abc , 31vmax 33vmax #abc , 67vmax 60vmax #abc , 94vmax 9vmax #abc , 63vmax 26vmax #abc , 117vmax 139vmax #abc , 150vmax 63vmax #abc , 124vmax 176vmax #abc , 55vmax 45vmax #abc , 163vmax 86vmax #abc , 170vmax 132vmax #abc , 152vmax 49vmax #abc , 117vmax 177vmax #abc , 186vmax 161vmax #abc , 2vmax 123vmax #abc , 99vmax 165vmax #abc , 102vmax 151vmax #abc , 173vmax 3vmax #abc , 110vmax 95vmax #abc , 69vmax 168vmax #abc , 158vmax 98vmax #abc , 168vmax 135vmax #abc , 96vmax 141vmax #abc , 152vmax 35vmax #abc , 13vmax 87vmax #abc , 172vmax 123vmax #abc , 44vmax 5vmax #abc , 99vmax 39vmax #abc , 188vmax 52vmax #abc , 92vmax 58vmax #abc , 66vmax 138vmax #abc , 24vmax 141vmax #abc , 158vmax 85vmax #abc, 84vmax 66vmax #abc , 42vmax 190vmax #abc , 15vmax 109vmax #abc , 70vmax 128vmax #abc , 18vmax 172vmax #abc , 178vmax 174vmax #abc , 37vmax 194vmax #abc , 1vmax 193vmax #abc , 157vmax 109vmax #abc , 58vmax 160vmax #abc , 155vmax 159vmax #abc , 114vmax 169vmax #abc , 94vmax 27vmax #abc , 152vmax 167vmax #abc , 7vmax 30vmax #abc , 123vmax 111vmax #abc , 14vmax 34vmax #abc , 85vmax 160vmax #abc , 199vmax 86vmax #abc , 180vmax 68vmax #abc , 13vmax 33vmax #abc , 194vmax 62vmax #abc , 65vmax 76vmax #abc , 126vmax 128vmax #abc , 172vmax 172vmax #abc , 64vmax 160vmax #abc , 23vmax 172vmax #abc , 194vmax 33vmax #abc , 66vmax 50vmax #abc , 73vmax 5vmax #abc , 36vmax 31vmax #abc , 142vmax 20vmax #abc , 77vmax 197vmax #abc , 148vmax 161vmax #abc , 160vmax 113vmax #abc , 6vmax 13vmax #abc , 176vmax 177vmax #abc , 39vmax 16vmax #abc , 33vmax 8vmax #abc , 20vmax 5vmax #abc , 92vmax 97vmax #abc , 139vmax 132vmax #abc , 109vmax 193vmax #abc , 97vmax 198vmax #abc , 28vmax 173vmax #abc , 168vmax 115vmax #abc , 98vmax 160vmax #abc , 22vmax 171vmax #abc , 91vmax 129vmax #abc , 4vmax 8vmax #abc , 108vmax 161vmax #abc , 21vmax 71vmax #abc , 175vmax 8vmax #abc , 185vmax 142vmax #abc , 49vmax 60vmax #abc , 86vmax 168vmax #abc , 189vmax 152vmax #abc , 58vmax 147vmax #abc , 72vmax 127vmax #abc , 48vmax 32vmax #abc , 47vmax 85vmax #abc , 196vmax 96vmax #abc , 26vmax 1vmax #abc , 198vmax 193vmax #abc , 42vmax 3vmax #abc , 32vmax 181vmax #abc , 142vmax 118vmax #abc , 59vmax 133vmax #abc , 80vmax 185vmax #abc , 41vmax 190vmax #abc , 22vmax 66vmax #abc , 187vmax 155vmax #abc , 120vmax 118vmax #abc , 140vmax 153vmax #abc , 188vmax 14vmax #abc , 59vmax 78vmax #abc , 73vmax 188vmax #abc , 162vmax 30vmax #abc , 171vmax 103vmax #abc , 92vmax 19vmax #abc , 193vmax 186vmax #abc , 59vmax 193vmax #abc , 174vmax 122vmax #abc , 176vmax 100vmax #abc , 112vmax 158vmax #abc , 109vmax 2vmax #abc , 153vmax 153vmax #abc , 71vmax 127vmax #abc , 183vmax 126vmax #abc , 19vmax 78vmax #abc , 162vmax 34vmax #abc , 129vmax 19vmax #abc , 182vmax 61vmax #abc , 58vmax 62vmax #abc , 30vmax 169vmax #abc , 139vmax 148vmax #abc , 77vmax 106vmax #abc , 88vmax 142vmax #abc , 136vmax 61vmax #abc , 4vmax 152vmax #abc , 194vmax 49vmax #abc , 158vmax 93vmax #abc , 104vmax 190vmax #abc , 75vmax 175vmax #abc , 161vmax 72vmax #abc , 67vmax 3vmax #abc , 138vmax 152vmax #abc , 181vmax 149vmax #abc , 61vmax 53vmax #abc , 16vmax 96vmax #abc , 51vmax 197vmax #abc , 132vmax 29vmax #abc , 46vmax 96vmax #abc , 30vmax 196vmax #abc , 153vmax 110vmax #abc , 176vmax 176vmax #abc , 170vmax 26vmax #abc , 178vmax 85vmax #abc , 66vmax 39vmax #abc , 39vmax 68vmax #abc , 82vmax 82vmax #abc , 4vmax 12vmax #abc , 106vmax 126vmax #abc , 144vmax 121vmax #abc , 90vmax 62vmax #abc , 184vmax 21vmax #abc , 167vmax 69vmax #abc , 128vmax 102vmax #abc , 116vmax 80vmax #abc , 124vmax 15vmax #abc , 123vmax 92vmax #abc , 97vmax 168vmax #abc , 193vmax 141vmax #abc , 117vmax 83vmax #abc , 114vmax 39vmax #abc , 85vmax 198vmax #abc , 15vmax 86vmax #abc , 154vmax 1vmax #abc , 197vmax 179vmax #abc , 97vmax 151vmax #abc , 137vmax 132vmax #abc , 191vmax 110vmax #abc , 94vmax 70vmax #abc , 98vmax 76vmax #abc , 131vmax 85vmax #abc , 112vmax 129vmax #abc , 109vmax 21vmax #abc , 96vmax 15vmax #abc , 24vmax 58vmax #abc , 176vmax 110vmax #abc , 42vmax 162vmax #abc , 164vmax 117vmax #abc , 64vmax 29vmax #abc , 26vmax 47vmax #abc , 58vmax 14vmax #abc , 39vmax 174vmax #abc , 99vmax 51vmax #abc , 162vmax 88vmax #abc , 192vmax 54vmax #abc , 19vmax 99vmax #abc , 177vmax 188vmax #abc , 159vmax 93vmax #abc , 152vmax 130vmax #abc , 182vmax 124vmax #abc , 44vmax 196vmax #abc , 92vmax 18vmax #abc;
}
#particle2 {
  width: 0.2vh;
  height: 0.2vh;
  background: transparent;
  box-shadow: 120vmax 53vmax #abc , 50vmax 192vmax #abc , 133vmax 163vmax #abc , 40vmax 126vmax #abc , 67vmax 92vmax #abc , 104vmax 143vmax #abc , 172vmax 119vmax #abc , 13vmax 144vmax #abc , 12vmax 78vmax #abc , 174vmax 166vmax #abc , 102vmax 15vmax #abc , 145vmax 23vmax #abc , 58vmax 131vmax #abc , 182vmax 59vmax #abc , 22vmax 95vmax #abc , 99vmax 8vmax #abc , 107vmax 193vmax #abc , 194vmax 171vmax #abc , 36vmax 17vmax #abc , 42vmax 61vmax #abc , 126vmax 195vmax #abc , 85vmax 182vmax #abc , 151vmax 4vmax #abc , 51vmax 39vmax #abc , 119vmax 140vmax #abc , 82vmax 32vmax #abc , 98vmax 29vmax #abc , 177vmax 127vmax #abc , 123vmax 104vmax #abc , 105vmax 8vmax #abc , 143vmax 40vmax #abc , 178vmax 142vmax #abc , 65vmax 44vmax #abc , 127vmax 37vmax #abc , 125vmax 35vmax #abc , 173vmax 113vmax #abc , 123vmax 49vmax #abc , 151vmax 75vmax #abc , 77vmax 118vmax #abc , 52vmax 96vmax #abc , 2vmax 149vmax #abc , 165vmax 40vmax #abc , 195vmax 2vmax #abc , 147vmax 8vmax #abc , 26vmax 108vmax #abc , 160vmax 4vmax #abc , 85vmax 102vmax #abc , 120vmax 110vmax #abc , 14vmax 172vmax #abc , 117vmax 138vmax #abc , 113vmax 179vmax #abc , 72vmax 52vmax #abc , 53vmax 24vmax #abc , 77vmax 54vmax #abc , 10vmax 30vmax #abc , 13vmax 92vmax #abc , 1vmax 179vmax #abc , 130vmax 92vmax #abc , 72vmax 156vmax #abc , 111vmax 16vmax #abc , 79vmax 35vmax #abc , 7vmax 102vmax #abc , 37vmax 13vmax #abc , 104vmax 91vmax #abc , 38vmax 169vmax #abc , 111vmax 138vmax #abc , 158vmax 89vmax #abc , 134vmax 77vmax #abc , 173vmax 12vmax #abc , 145vmax 96vmax #abc , 184vmax 108vmax #abc , 16vmax 159vmax #abc , 77vmax 129vmax #abc , 172vmax 145vmax #abc , 88vmax 188vmax #abc , 111vmax 139vmax #abc , 130vmax 70vmax #abc , 103vmax 129vmax #abc , 7vmax 154vmax #abc , 1vmax 122vmax #abc , 184vmax 8vmax #abc , 141vmax 157vmax #abc , 146vmax 14vmax #abc , 197vmax 54vmax #abc , 101vmax 51vmax #abc , 159vmax 136vmax #abc , 169vmax 170vmax #abc , 81vmax 58vmax #abc , 136vmax 48vmax #abc , 80vmax 13vmax #abc , 29vmax 34vmax #abc , 22vmax 3vmax #abc , 199vmax 3vmax #abc , 83vmax 10vmax #abc , 144vmax 142vmax #abc , 73vmax 141vmax #abc , 121vmax 28vmax #abc , 1vmax 28vmax #abc , 90vmax 11vmax #abc , 182vmax 178vmax #abc , 74vmax 78vmax #abc , 102vmax 36vmax #abc , 24vmax 169vmax #abc , 106vmax 50vmax #abc , 16vmax 35vmax #abc , 191vmax 153vmax #abc , 123vmax 107vmax #abc , 10vmax 105vmax #abc , 32vmax 130vmax #abc , 113vmax 178vmax #abc , 155vmax 5vmax #abc , 97vmax 96vmax #abc , 25vmax 131vmax #abc , 147vmax 3vmax #abc , 114vmax 63vmax #abc , 90vmax 159vmax #abc , 195vmax 177vmax #abc , 188vmax 45vmax #abc , 105vmax 43vmax #abc , 169vmax 185vmax #abc , 94vmax 155vmax #abc , 151vmax 187vmax #abc , 36vmax 126vmax #abc , 155vmax 68vmax #abc , 26vmax 140vmax #abc , 184vmax 7vmax #abc , 150vmax 86vmax #abc , 80vmax 179vmax #abc , 46vmax 184vmax #abc , 75vmax 159vmax #abc , 146vmax 170vmax #abc , 36vmax 50vmax #abc , 105vmax 88vmax #abc , 197vmax 164vmax #abc , 28vmax 73vmax #abc , 171vmax 180vmax #abc , 75vmax 179vmax #abc , 39vmax 36vmax #abc , 111vmax 116vmax #abc , 179vmax 156vmax #abc , 89vmax 156vmax #abc , 131vmax 135vmax #abc , 138vmax 144vmax #abc , 149vmax 92vmax #abc , 112vmax 67vmax #abc , 57vmax 183vmax #abc , 195vmax 65vmax #abc , 108vmax 71vmax #abc , 135vmax 147vmax #abc , 190vmax 186vmax #abc , 171vmax 55vmax #abc , 61vmax 18vmax #abc , 172vmax 57vmax #abc , 12vmax 81vmax #abc , 186vmax 121vmax #abc , 24vmax 12vmax #abc , 199vmax 135vmax #abc , 96vmax 99vmax #abc , 162vmax 185vmax #abc , 55vmax 189vmax #abc , 87vmax 131vmax #abc , 51vmax 184vmax #abc , 161vmax 118vmax #abc , 15vmax 7vmax #abc , 23vmax 140vmax #abc , 116vmax 8vmax #abc , 18vmax 89vmax #abc , 23vmax 61vmax #abc , 69vmax 134vmax #abc , 155vmax 1vmax #abc , 37vmax 67vmax #abc , 9vmax 197vmax #abc , 36vmax 148vmax #abc , 38vmax 155vmax #abc , 159vmax 36vmax #abc , 39vmax 161vmax #abc , 179vmax 175vmax #abc , 105vmax 119vmax #abc , 101vmax 19vmax #abc , 40vmax 31vmax #abc , 9vmax 97vmax #abc , 8vmax 134vmax #abc , 71vmax 145vmax #abc , 158vmax 163vmax #abc , 40vmax 10vmax #abc , 4vmax 188vmax #abc , 16vmax 88vmax #abc , 151vmax 72vmax #abc , 172vmax 11vmax #abc , 155vmax 184vmax #abc , 147vmax 89vmax #abc , 120vmax 164vmax #abc , 14vmax 97vmax #abc , 18vmax 194vmax #abc , 192vmax 75vmax #abc , 111vmax 187vmax #abc , 16vmax 161vmax #abc , 93vmax 197vmax #abc , 85vmax 170vmax #abc , 53vmax 4vmax #abc;
  animation: animParticle 100s linear infinite;
}
#particle2:after {
  position: absolute;
  top: -200vh;
  width: 0.2vh;
  height: 0.2vh;
  background: transparent;
  content: " ";
  box-shadow: 123vmax 104vmax #abc , 105vmax 8vmax #abc , 143vmax 40vmax #abc , 178vmax 142vmax #abc , 65vmax 44vmax #abc , 127vmax 37vmax #abc , 125vmax 35vmax #abc , 173vmax 113vmax #abc , 123vmax 49vmax #abc , 151vmax 75vmax #abc , 77vmax 118vmax #abc , 52vmax 96vmax #abc , 2vmax 149vmax #abc , 165vmax 40vmax #abc , 195vmax 2vmax #abc , 147vmax 8vmax #abc , 26vmax 108vmax #abc , 160vmax 4vmax #abc , 85vmax 102vmax #abc , 120vmax 110vmax #abc , 14vmax 172vmax #abc , 117vmax 138vmax #abc , 113vmax 179vmax #abc , 72vmax 52vmax #abc , 53vmax 24vmax #abc , 77vmax 54vmax #abc , 10vmax 30vmax #abc , 13vmax 92vmax #abc , 1vmax 179vmax #abc , 130vmax 92vmax #abc , 72vmax 156vmax #abc , 111vmax 16vmax #abc , 79vmax 35vmax #abc , 7vmax 102vmax #abc , 37vmax 13vmax #abc , 104vmax 91vmax #abc , 38vmax 169vmax #abc , 111vmax 138vmax #abc , 158vmax 89vmax #abc , 134vmax 77vmax #abc , 173vmax 12vmax #abc , 145vmax 96vmax #abc , 184vmax 108vmax #abc , 16vmax 159vmax #abc , 77vmax 129vmax #abc , 172vmax 145vmax #abc , 88vmax 188vmax #abc , 111vmax 139vmax #abc , 130vmax 70vmax #abc , 103vmax 129vmax #abc , 7vmax 154vmax #abc , 1vmax 122vmax #abc , 184vmax 8vmax #abc , 141vmax 157vmax #abc , 146vmax 14vmax #abc , 197vmax 54vmax #abc , 101vmax 51vmax #abc , 159vmax 136vmax #abc , 169vmax 170vmax #abc , 81vmax 58vmax #abc , 136vmax 48vmax #abc , 80vmax 13vmax #abc , 29vmax 34vmax #abc , 22vmax 3vmax #abc , 199vmax 3vmax #abc , 83vmax 10vmax #abc , 144vmax 142vmax #abc , 73vmax 141vmax #abc , 121vmax 28vmax #abc , 1vmax 28vmax #abc , 90vmax 11vmax #abc , 182vmax 178vmax #abc , 74vmax 78vmax #abc , 102vmax 36vmax #abc , 24vmax 169vmax #abc , 106vmax 50vmax #abc , 16vmax 35vmax #abc , 191vmax 153vmax #abc , 123vmax 107vmax #abc , 10vmax 105vmax #abc , 32vmax 130vmax #abc , 113vmax 178vmax #abc , 155vmax 5vmax #abc , 97vmax 96vmax #abc , 25vmax 131vmax #abc , 147vmax 3vmax #abc , 114vmax 63vmax #abc , 90vmax 159vmax #abc , 195vmax 177vmax #abc , 188vmax 45vmax #abc , 105vmax 43vmax #abc , 169vmax 185vmax #abc , 94vmax 155vmax #abc , 151vmax 187vmax #abc , 36vmax 126vmax #abc , 155vmax 68vmax #abc , 26vmax 140vmax #abc , 184vmax 7vmax #abc , 150vmax 86vmax #abc , 80vmax 179vmax #abc , 46vmax 184vmax #abc , 75vmax 159vmax #abc , 146vmax 170vmax #abc , 36vmax 50vmax #abc , 105vmax 88vmax #abc , 197vmax 164vmax #abc , 28vmax 73vmax #abc , 171vmax 180vmax #abc , 75vmax 179vmax #abc , 39vmax 36vmax #abc , 111vmax 116vmax #abc , 179vmax 156vmax #abc , 89vmax 156vmax #abc , 131vmax 135vmax #abc , 138vmax 144vmax #abc , 149vmax 92vmax #abc , 112vmax 67vmax #abc , 57vmax 183vmax #abc , 195vmax 65vmax #abc , 108vmax 71vmax #abc , 135vmax 147vmax #abc , 190vmax 186vmax #abc , 171vmax 55vmax #abc , 61vmax 18vmax #abc , 172vmax 57vmax #abc , 12vmax 81vmax #abc , 186vmax 121vmax #abc , 24vmax 12vmax #abc , 199vmax 135vmax #abc , 96vmax 99vmax #abc , 162vmax 185vmax #abc , 55vmax 189vmax #abc , 87vmax 131vmax #abc , 51vmax 184vmax #abc , 161vmax 118vmax #abc , 15vmax 7vmax #abc , 23vmax 140vmax #abc , 116vmax 8vmax #abc , 18vmax 89vmax #abc , 23vmax 61vmax #abc , 69vmax 134vmax #abc , 155vmax 1vmax #abc , 37vmax 67vmax #abc , 9vmax 197vmax #abc , 36vmax 148vmax #abc , 38vmax 155vmax #abc , 159vmax 36vmax #abc , 39vmax 161vmax #abc , 179vmax 175vmax #abc , 105vmax 119vmax #abc , 101vmax 19vmax #abc , 40vmax 31vmax #abc , 9vmax 97vmax #abc , 8vmax 134vmax #abc , 71vmax 145vmax #abc , 158vmax 163vmax #abc , 40vmax 10vmax #abc , 4vmax 188vmax #abc , 16vmax 88vmax #abc , 151vmax 72vmax #abc , 172vmax 11vmax #abc , 155vmax 184vmax #abc , 147vmax 89vmax #abc , 120vmax 164vmax #abc , 14vmax 97vmax #abc , 18vmax 194vmax #abc , 192vmax 75vmax #abc , 111vmax 187vmax #abc , 16vmax 161vmax #abc , 93vmax 197vmax #abc , 85vmax 170vmax #abc , 53vmax 4vmax #abc , 120vmax 53vmax #abc , 50vmax 192vmax #abc , 133vmax 163vmax #abc , 40vmax 126vmax #abc , 67vmax 92vmax #abc , 104vmax 143vmax #abc , 172vmax 119vmax #abc , 13vmax 144vmax #abc , 12vmax 78vmax #abc , 174vmax 166vmax #abc , 102vmax 15vmax #abc , 145vmax 23vmax #abc , 58vmax 131vmax #abc , 182vmax 59vmax #abc , 22vmax 95vmax #abc , 99vmax 8vmax #abc , 107vmax 193vmax #abc , 194vmax 171vmax #abc , 36vmax 17vmax #abc , 42vmax 61vmax #abc , 126vmax 195vmax #abc , 85vmax 182vmax #abc , 151vmax 4vmax #abc , 51vmax 39vmax #abc , 119vmax 140vmax #abc , 82vmax 32vmax #abc , 98vmax 29vmax #abc , 177vmax 127vmax #abc ;
}
#particle3 {
  width: 0.3vh;
  height:  0.3vh;
  background: transparent;
  box-shadow: 160vmax 47vmax #abc , 21vmax 62vmax #abc , 176vmax 171vmax #abc , 135vmax 83vmax #abc , 92vmax 44vmax #abc , 127vmax 17vmax #abc , 91vmax 121vmax #abc , 12vmax 23vmax #abc , 64vmax 125vmax #abc , 84vmax 139vmax #abc , 138vmax 134vmax #abc , 8vmax 157vmax #abc , 141vmax 188vmax #abc , 122vmax 14vmax #abc , 163vmax 8vmax #abc , 47vmax 37vmax #abc , 151vmax 121vmax #abc , 77vmax 180vmax #abc , 30vmax 139vmax #abc , 4vmax 11vmax #abc , 48vmax 9vmax #abc , 27vmax 179vmax #abc , 61vmax 109vmax #abc , 117vmax 119vmax #abc , 21vmax 193vmax #abc , 110vmax 22vmax #abc , 168vmax 85vmax #abc , 16vmax 61vmax #abc , 194vmax 182vmax #abc , 34vmax 76vmax #abc , 61vmax 120vmax #abc , 50vmax 15vmax #abc , 155vmax 52vmax #abc , 139vmax 93vmax #abc , 23vmax 128vmax #abc , 140vmax 196vmax #abc , 34vmax 199vmax #abc , 173vmax 8vmax #abc , 152vmax 33vmax #abc , 192vmax 88vmax #abc , 50vmax 162vmax #abc , 164vmax 16vmax #abc , 84vmax 146vmax #abc , 31vmax 120vmax #abc , 38vmax 181vmax #abc , 66vmax 24vmax #abc , 15vmax 26vmax #abc , 62vmax 26vmax #abc , 148vmax 174vmax #abc , 166vmax 46vmax #abc , 185vmax 61vmax #abc , 194vmax 161vmax #abc , 166vmax 176vmax #abc , 90vmax 117vmax #abc , 80vmax 80vmax #abc , 39vmax 138vmax #abc , 42vmax 160vmax #abc , 1vmax 20vmax #abc , 165vmax 181vmax #abc , 185vmax 121vmax #abc , 149vmax 182vmax #abc , 120vmax 70vmax #abc , 83vmax 92vmax #abc , 65vmax 98vmax #abc , 9vmax 78vmax #abc , 65vmax 7vmax #abc , 83vmax 150vmax #abc , 93vmax 12vmax #abc , 148vmax 110vmax #abc , 60vmax 28vmax #abc , 25vmax 68vmax #abc , 103vmax 143vmax #abc , 34vmax 118vmax #abc , 129vmax 132vmax #abc , 186vmax 8vmax #abc , 171vmax 77vmax #abc , 46vmax 40vmax #abc , 2vmax 165vmax #abc , 151vmax 169vmax #abc , 147vmax 75vmax #abc , 29vmax 92vmax #abc , 66vmax 101vmax #abc , 3vmax 124vmax #abc , 42vmax 11vmax #abc , 173vmax 74vmax #abc , 140vmax 138vmax #abc , 77vmax 10vmax #abc , 96vmax 143vmax #abc , 186vmax 199vmax #abc , 9vmax 159vmax #abc , 98vmax 170vmax #abc , 35vmax 190vmax #abc , 2vmax 15vmax #abc , 7vmax 8vmax #abc , 58vmax 156vmax #abc , 104vmax 108vmax #abc , 123vmax 96vmax #abc , 19vmax 34vmax #abc , 16vmax 111vmax #abc , 16vmax 89vmax #abc ;
  animation: animParticle 150s linear infinite;
}
#particle3:after {
  position: absolute;
  top: -200vh;
  width:  0.3vh;
  height:  0.3vh;
  background: transparent;
  content: " ";
  box-shadow: 84vmax 139vmax #abc , 138vmax 134vmax #abc , 8vmax 157vmax #abc , 141vmax 188vmax #abc , 122vmax 14vmax #abc , 163vmax 8vmax #abc , 47vmax 37vmax #abc , 151vmax 121vmax #abc , 77vmax 180vmax #abc , 30vmax 139vmax #abc , 4vmax 11vmax #abc , 48vmax 9vmax #abc , 27vmax 179vmax #abc , 61vmax 109vmax #abc , 117vmax 119vmax #abc , 21vmax 193vmax #abc , 110vmax 22vmax #abc , 168vmax 85vmax #abc , 16vmax 61vmax #abc , 194vmax 182vmax #abc , 34vmax 76vmax #abc , 61vmax 120vmax #abc , 50vmax 15vmax #abc , 155vmax 52vmax #abc , 139vmax 93vmax #abc , 23vmax 128vmax #abc , 140vmax 196vmax #abc , 34vmax 199vmax #abc , 173vmax 8vmax #abc , 152vmax 33vmax #abc , 192vmax 88vmax #abc , 50vmax 162vmax #abc , 164vmax 16vmax #abc , 84vmax 146vmax #abc , 31vmax 120vmax #abc , 38vmax 181vmax #abc , 66vmax 24vmax #abc , 15vmax 26vmax #abc , 62vmax 26vmax #abc , 148vmax 174vmax #abc , 166vmax 46vmax #abc , 185vmax 61vmax #abc , 194vmax 161vmax #abc , 166vmax 176vmax #abc , 90vmax 117vmax #abc , 80vmax 80vmax #abc , 39vmax 138vmax #abc , 42vmax 160vmax #abc , 1vmax 20vmax #abc , 165vmax 181vmax #abc , 185vmax 121vmax #abc , 149vmax 182vmax #abc , 120vmax 70vmax #abc , 83vmax 92vmax #abc , 65vmax 98vmax #abc , 9vmax 78vmax #abc , 65vmax 7vmax #abc , 83vmax 150vmax #abc , 93vmax 12vmax #abc , 148vmax 110vmax #abc , 60vmax 28vmax #abc , 25vmax 68vmax #abc , 103vmax 143vmax #abc , 34vmax 118vmax #abc , 129vmax 132vmax #abc , 186vmax 8vmax #abc , 171vmax 77vmax #abc , 46vmax 40vmax #abc , 2vmax 165vmax #abc , 151vmax 169vmax #abc , 147vmax 75vmax #abc , 29vmax 92vmax #abc , 66vmax 101vmax #abc , 3vmax 124vmax #abc , 42vmax 11vmax #abc , 173vmax 74vmax #abc , 140vmax 138vmax #abc , 77vmax 10vmax #abc , 96vmax 143vmax #abc , 186vmax 199vmax #abc , 9vmax 159vmax #abc , 98vmax 170vmax #abc , 35vmax 190vmax #abc , 2vmax 15vmax #abc , 7vmax 8vmax #abc , 58vmax 156vmax #abc , 104vmax 108vmax #abc , 123vmax 96vmax #abc , 19vmax 34vmax #abc , 16vmax 111vmax #abc , 16vmax 89vmax #abc , 160vmax 47vmax #abc , 21vmax 62vmax #abc , 176vmax 171vmax #abc , 135vmax 83vmax #abc , 92vmax 44vmax #abc , 127vmax 17vmax #abc , 91vmax 121vmax #abc , 12vmax 23vmax #abc , 64vmax 125vmax #abc ;
}
@keyframes animParticle {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(200vh);
  }
}
/*----------------------------*/
/*---    MOBILE SUPPORT    ---*/
/*----------------------------*/
@media screen and (max-width: 98vh) {
  h1{
    font-size: 2.5vh;
  }
  p{
    font-size: 1.6vh;
  }
  .navLinks li {
    padding-left: 0.2vh;
    padding-right: 0.2vh;
  }
  .navButton {
    height: 5vh;
    width: 10vh;
  }
  .navButtonShape {
    height: 5vh;
    width: 10vh;
    stroke: #abc;
    stroke-width: 0.8vh;
    stroke-dasharray: 4vh 25vh;
    stroke-dashoffset: -18vh;
  }
  .navBox{
    position:absolute;
    left: 0.3vh;
    top: 0;
    height: 5vh;
    width: 10vh;
  }
  .navTitleText {
    top: 2.8vh;
    right: 0;
    line-height: 0vh;
    font-size: 2.2vh;
    text-align: center;
    letter-spacing: 0vh;
  }
  @keyframes draw {
    0% {
      stroke-width: 0.8vh;
      stroke-dasharray: 4vh 25vh;
      stroke-dashoffset: -18vh;
    }
    100% {
      stroke-width: 0.2vh;
      stroke-dasharray: 50vh;
      stroke-dashoffset: 0;
    }
  }
  #content{
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 120%;
    font-size: 1.5vh;
    overflow: hidden;
  }
  #closeButton{
    font-size: 5vh;
  }
  #resumeLeft{
    top: 3%;
    left: 0;
    width: 100% !important;
  }
  #resumeRight{
    top: 42%;
    right: 0;
    width: 100% !important;
  }
  #bioLeftBottom{
    bottom: 2%;
  }
  #bioRight{
    top:5%;
  }
  img{
    width:100%;
  }
  #contactLeft{
    width: 100% !important;
    top: 8%;
    font-size: 5vh;
  }
  #contactRight{
    visibility: hidden;
  }
}  
/*----------------------------*/
/*---  MOBILE  OVERWRITES  ---*/
/*----------------------------*/
@media screen and (min-width: 98vh) {
  #contactFormLink{
  visibility: hidden;
  } 
}